.isipluside{ margin: 10px auto;  max-width: 100%; width: 1000px; }
img{max-width: 100%;}
.isi{
	float: left;
	width:64%;
	background-color: ;
	
	}
.sidebar{ width: 34%; float: right; background-color: rgba(50, 50, 50, 0.2); 
	padding-left: 10px; padding-bottom: 10px; }

footer{clear: both; padding:10px 10px 10px 10px; background-color: black; color: grey; 
	height: 150px; font-family: calibri; }


